/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* VARIABLES */

:root{
    /* --main-text-color : #fff; */
    --main-bg-color : #fff;
    /* --main-font-size : 16px; */
    --main-font-weight : 400;
    /* --main-line-height : 1.5; */
    --main-text-color: #333D4B;
  }
  

  /* fraunces-900italic - latin */
  @font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 900;
    src: local(''),
         url('../fonts/fraunces-v23-latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fraunces-v23-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* barlow-regular - latin */
  @font-face {
    font-family: "Barlow";
    font-weight: 400;
    src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), 
    url("../fonts/barlow-v12-latin-regular.woff") format("woff");
  }
  /* barlow-700 - latin */
  @font-face {
    font-family: "Barlow";
    font-weight: 700;
    src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), 
    url("../fonts/barlow-v12-latin-700.woff") format("woff");
  }
  
  /* GENERAL */
  *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html{
    height: 100%;
  }
  
  img{
    display: block;
    height: auto;
  }
  
  body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Fraunces",serif;
  }
  
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* CONTAINER */
  
  .container{
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /* STICKY-FOOTER */
  .site-main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  
  .site-header{
    position: relative;
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .site-header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header__button{
    border: none;
    background-color: transparent;
    background-image: url(../images/hamburger.svg);
    width: 16px;
    height: 15px;
  }
  .site-header__list{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  .site-header__nav{
    display: none;
  }
  .site-header__item:not(:last-child){
    margin-right: 33px;
  }
  .site-header__link{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    text-transform: uppercase;
    color: #83888F;
  }
  .site-header__link:hover {
    color: var(--main-text-color);
  }
  .nav--active{
    position: absolute;
    left: 0px;
    top: 100%;
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    padding-left: 82px;
    padding-right: 83px;
    text-align: center; 
    background: -webkit-gradient(linear,left bottom, left top,from(rgba(254, 252, 247, 0.504981)), color-stop(55.94%, #FEFCF7)); 
    background: -o-linear-gradient(bottom,rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%); 
    background: linear-gradient(0deg,rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
  }
  .site-header__item{
    margin-bottom: 32px;
  }
  .site-header__list{
    margin: 0;
    padding: 0;
  }
  
  @media only screen and (min-width: 600px){
    .site-header{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .site-header__nav{
      padding: 0;
      width: 100%;
      height: 0;
      max-width: 350px;
      position: relative;
      top: 0;
      right: 0;
      background: transparent;
    }
    .site-header__button{
      display: none;
    }
    .site-header__list{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .site-header__nav{
      display: block;
    }
    
    
  }
  

.hero__wrapper{
    padding: 100px 0px;
    background-image: url(../images/coffea-mobile-hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: calc(50%) calc(50%);
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 136px;
  }
  .hero__wrapper-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 297px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 20px;
    text-align: center;
  }
  .hero__theme{
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: #FEFCF7;
  }
  .hero__text{
    margin: 0;
    margin-bottom: 39px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    
    text-align: center;
    
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .hero__link{
    display: inline-block;
    padding: 15px 31px 16px 31px;
    background-color: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    
    text-align: center;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
  }
  .hero__link:hover{
    background-color: #66D2CF;
  }
  
  @media only screen and (min-width: 321px) {
    .hero__wrapper{
      border-radius: 10px;
      background-image: url(../images/coffea-mobile-hero-bg.jpg);
      background-repeat: no-repeat;
      text-align: center;
    }
    .hero__wrapper-inner{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      max-width: 390px;
      text-align: center;
    }
    
    
    .hero__theme{
      /* text-align: left; */
    }
    .hero__text{
      /* text-align: left; */
    }
    .hero__link{
      /* margin-right: auto; */
    }
    @media only screen and (min-width: 335px) {
      .hero__wrapper{
        background-image: url(../images/coffea-mobile-hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: calc(50%) calc(50%);
        border-radius: 15px;
      }
      .hero__wrapper-inner{
        max-width: 279px;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
      }
      
    }
    @media only screen and (min-width: 383px) {
      .hero__wrapper{
        border-radius: 10px;
      }
    }
    @media only screen and (min-width: 390px) {
      .hero__wrapper{
        border-radius: 10px;
        background-image: url(../images/coffea-mobile-hero-bg.jpg);
        background-size: cover;
      }
    }
    @media only screen and (min-width: 400px) {
      .hero__wrapper{
        padding-left: 50px;
        background-image: url(../images/hero-bg-tablet.jpg);
        background-repeat: no-repeat;
        text-align: left;
      }
      .hero__wrapper-inner{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 295px;
        margin: 0;
        text-align: left;
      }
      
      
      
      .hero__theme{
        text-align: left;
      }
      .hero__text{
        text-align: left;
      }
      .hero__link{
        margin-right: auto;
      }
      
    }
  }
  @media only screen and (min-width: 721px){
    .hero__wrapper{
      padding-left: 86px;
      background-image: url(../images/hero-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .hero__wrapper-inner{
      max-width: 250px;
      padding: 0;
      margin: 0;
    }
    .hero__theme{
      text-align: left;
    }
    .hero__text{
      font-family: 'Barlow';
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      opacity: 0.8;
      text-align: left;
    }
    
    
  }
  
  @media only screen and (min-width: 1000px) {
    .hero__wrapper{
      width: 100%;

    }
    .hero__wrapper-inner{
      width: 100%;
      max-width: 250px;
    }
    .hero__text{
      font-family: 'Barlow';
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      opacity: 0.8;
    }
  }
  